@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Header styles */
.header {
  background-color: #94EBCB;
  padding: 5px 10px; /* Reduced top and bottom padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px; /* Increased size as per your request */
  margin-left: -100px; /* Adjust this to control the left spacing */
  transition: transform 0.2s ease; /* Smooth transition for transform property */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  display: inline-block; /* Allows the transformation to take effect */
}

.logo:active {
  transform: scale(0.95); /* Scales down the logo to 95% of its original size on click */
}

/* Navbar styles */
.navbar {
  margin-right: -100px; /* This negative margin will push the navbar to the right */
  /* Additional styles */
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto; /* Ensures the navigation is pushed to the right */
  padding: 0;
}

.navbar li {
  margin: 0 10px; /* Controls spacing between nav items */
}

.navbar a {
  text-decoration: none;
  color: #000000; /* Black text color for navbar */
  font-size: 18px; /* Size of the navigation links */
  font-weight: bold; /* Bold text for the navigation links */
  position: relative; /* Position relative for pseudo-element positioning */
  display: inline-block; /* Allows transformation */
  transition: color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions for color, transform, and shadow */
}

.navbar a:hover,
.navbar a.active {
  color: #000000; /* Black text color for hover and active states */
  /* Consider adding a subtle box-shadow for hover if desired */
}

.navbar a:hover::after,
.navbar a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: #000000; /* Black underline for active and hover states */
}

.navbar a:active {
  transform: scale(0.95); /* Scales down the link to simulate a click */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Optional: Adds depth to the click effect */
}

/* Home */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F3EADE; /* Light beige background color */
}

.home-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffffff; /* White background for the content */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.welcome-message {
  font-size: 48px; /* Adjust the font-size as per the design */
  color: #333333; /* Dark text color for contrast */
  text-align: center;
  margin-top: 40px; /* Adjust spacing as needed */
}

.home-image {
  width: 100%;
  display: block; /* Ensure there's no margin/padding around the image */
}

.intro-paragraph {
  font-size: 24px; /* Adjust the font-size as per the design */
  color: #333333; /* Dark text color for contrast */
  text-align: center;
  margin: 20px 0; /* Adjust spacing as needed */
}

.start-here-button {
  font-size: 20px;
  color: white;
  background-color: #94EBCB;
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 30px auto;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transform to the transition properties */
}

.start-here-button:active {
  transform: scale(0.95); /* Apply the shrink effect on click */
}

.start-here-button:hover {
  background-color: #82d3b8; /* Slightly darken the button color on hover */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .welcome-message {
    font-size: 36px; /* Smaller font-size for smaller screens */
  }

  .intro-paragraph {
    font-size: 18px; /* Smaller font-size for smaller screens */
  }

  .start-here-button {
    font-size: 18px; /* Smaller font-size for smaller screens */
    padding: 10px 20px; /* Smaller padding for smaller screens */
  }
}

/* About */

.about-container {
  background-color: #ffffff; /* Assuming white background */
  font-family: Arial, sans-serif; /* Replace with your desired font */
  padding: 20px;
  text-align: center; /* Centers text for all child elements */
}

.about-container h2 {
  color: #305F72; /* Adjust the color to match the design */
  margin-bottom: 20px; /* Spacing below the heading */
  font-size: 2em; /* Makes the heading text larger */
}

.about-container img {
  width: 100%; /* Makes images responsive */
  max-width: 600px; /* Increased maximum width of images for larger display */
  height: auto; /* Maintain aspect ratio */
  margin: 20px auto; /* Centers image horizontally */
  display: block; /* Ensures images are block-level for margin to take effect */
}

.story-section,
.mission-section,
.vision-section,
.why-section {
  margin-bottom: 40px; /* Spacing between each section */
}

.about-container p, 
.why-section li {
  color: #333; /* Standard text color */
  line-height: 1.8; /* Slightly increased line height for readability */
  margin-bottom: 20px; /* Spacing below paragraphs and list items */
  font-size: 1.1em; /* Larger font size for paragraph text */
  max-width: 700px; /* Slightly wider max-width for text */
  margin-left: auto; /* Combined with margin-right:auto, centers the block */
  margin-right: auto;
}

.why-section ul {
  list-style: none; /* No bullet points */
  padding: 0; /* Reset default padding */
  margin: 0 auto; /* Centers the list */
  max-width: 700px; /* Slightly wider max-width for the list */
}

.why-section li strong {
  color: #305F72; /* Mint green color for key phrases */
  font-size: 1.2em; /* Larger font size for list item bold text */
}

/* Login */

.login-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  max-width: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: absolute; /* Positioning relative to the nearest positioned ancestor or the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  color: #333; /* Color of the header text */
  margin-bottom: 1em; /* Space below the header */
}

.login-container p {
  color: #666; /* Color of the paragraph text */
  margin-bottom: 2em; /* Space below the paragraph */
}

.login-container p a {
  color: #6EAC8B; /* Color of the link text */
  text-decoration: none; /* Removes underline from the link */
}

.login-container p a:hover {
  text-decoration: underline; /* Adds underline to the link on hover */
}

.login-container .login-form {
  display: flex;
  flex-direction: column; /* Stacks form fields vertically */
  align-items: center; /* Aligns form fields horizontally */
}

.input-group {
  margin-bottom: 1em; /* Space below each input group */
  text-align: left; /* Aligns the label text to the left */
}

.input-group label {
  display: block; /* Ensures the label takes up its own line */
  margin-bottom: .5em; /* Space below the label */
}

.input-group input {
  width: 100%; /* Full width of the input */
  padding: 10px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border color of the input */
  border-radius: 5px; /* Rounded corners of the input */
}

.login-container .error-message {
  color: red; /* Color of the error message text */
  margin-top: .5em; /* Space above the error message */
}

.submit-button {
  font-size: 20px; /* Adjust the font-size as per the design */
  color: white; /* Text color for the button */
  background-color: #94EBCB; /* Mint green background color for the button */
  padding: 15px 30px; /* Adjust padding to match the design */
  font-weight: bold;
  border: none;
  border-radius: 30px; /* Rounded corners for the button */
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 30px auto; /* Centers the button */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effect and transform */
}

.submit-button:active {
  transform: scale(0.95); /* Scales down the button to 95% of its size when clicked */
}

.submit-button:hover {
  background-color: #82d3b8; /* A shade darker on hover */
  text-shadow: 3px 3px 3px black; /* Slightly more pronounced text shadow on hover */
}

/* Register */
.register-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  max-width: 400px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
  color: #333;
  margin-bottom: 1em;
}

.register-container p {
  color: #666;
  margin-bottom: 2em;
}

.register-container p a {
  color: #6EAC8B;
  text-decoration: none;
}

.register-container .input-group {
  margin-bottom: 1em;
  text-align: left;
}

.register-container .input-group label {
  display: block;
  margin-bottom: .5em;
}

.register-container .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .error-message {
  color: red;
  margin-top: .25em;
}

.register-button {
  font-size: 20px;
  color: white;
  background-color: #94EBCB;
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 30px auto;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform to the transition */
}

.register-button:active {
  transform: scale(0.95); /* Shrink effect when the button is clicked */
}

.register-button:hover {
  background-color: #82d3b8; /* A shade darker on hover */
  text-shadow: 3px 3px 3px black; /* Slightly more pronounced text shadow on hover */
}

.register-container p a {
  color: #6EAC8B;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* Smooth transition for color */
}

.register-container p a:hover {
  color: #5a9479; /* Darker shade of green for hover */
  text-decoration: underline; /* Underline on hover for more emphasis */
}

/* Successful Message */

/* Main message container styling */
.successful-message-container {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 50px; /* Give some space from the top */
}

/* Heading styling */
.successful-message-container h2 {
  font-size: 24px; /* Slightly larger for emphasis */
  color: #4A4A4A; /* A neutral, elegant color */
  margin: 20px 0; /* Spacing above and below */
}

/* Paragraph styling */
.successful-message-container p {
  color: #4A4A4A; /* Match color with heading for consistency */
  font-size: 18px; /* Comfortable reading size */
  margin-bottom: 30px; /* Spacing below the paragraph */
}

.celebratory-hands-image {
  max-width: 300px; /* Increased size */
  height: auto; /* Maintain aspect ratio */
  margin: 20px 0; /* Space above and below the image, removed auto */
  display: block; /* Will treat the image as a block element */
  position: relative; /* Allows us to position it relative to its normal position */
  left: 50%; /* Shifts the image to the center */
  transform: translateX(-50%); /* Adjust the percentage to move it to the right as desired */
}

.view-items-button {
  background-color: #94EBCB; /* Mint green background color */
  color: white; /* White text color */
  padding: 12px 24px; /* Padding inside the button */
  font-size: 16px; /* Font size */
  font-weight: bold;
  border: none; /* No border */
  border-radius: 25px; /* Rounded borders */
  cursor: pointer; /* Cursor indicates a link */
  text-decoration: none; /* No underline */
  display: inline-block; /* To apply padding and margins */
  transition: all 0.2s ease; /* Smooth transition for interactive states */
  text-shadow: 2px 2px 2px black; /* Adds shadow to text to make it pop */
}

.view-items-button:hover {
  background-color: #82d3b8; /* A shade darker on hover */
  text-shadow: 3px 3px 3px black; /* Slightly more pronounced text shadow on hover */
}

.view-items-button:active {
  background-color: #70c3a6; /* Even darker green when clicked */
  text-shadow: 1px 1px 1px black; /* Less pronounced shadow to simulate depth */
  transform: translateY(2px); /* Slightly move the button down to simulate a press */
}

/* Browse */
.browse-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 20px; /* Spacing between grid items */
  padding: 20px; /* Padding inside the grid container */
}

.browse-container h2 {
  text-align: center; /* Centers text horizontally */
  font-family: 'Helvetica Neue', sans-serif; /* Elegant, modern font */
  color: #333; /* Soft, dark-gray color for readability */
  font-size: 2.5rem; /* A larger font size for prominence */
  font-weight: 300; /* Lighter font-weight for a sophisticated touch */
  margin-top: 50px; /* More top margin for a spacious look */
  margin-bottom: 30px; /* Balanced bottom margin */
  letter-spacing: 1.5px; /* Space out the letters slightly */
  text-transform: uppercase; /* Capitalize all letters for a chic touch */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
  padding: 5px 0; /* Padding to ensure the text doesn't touch any borders */
}

.search-bar {
  display: block; /* Required for margins to work */
  margin: 20px auto; /* Top and bottom margin of 20px, left and right margins auto */
  padding: 10px 20px;
  width: calc(100% - 100px); /* Adjust the width as needed, 100px accounts for padding */
  max-width: 600px; /* Maximum width of the search bar */
  border: 2px solid #94EBCB; /* Border color */
  border-radius: 25px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-size: 1rem; /* Font size */
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); /* Box shadow for depth */
}

.search-bar:focus {
  outline: none; /* Removes the default outline */
  border-color: #94EBCB; /* Set to your preferred color */
  box-shadow: 0 0 0 2px rgba(148, 235, 203, 0.5); /* Optional: Adds a glow effect */
}


/* Item Card */
.item-card {
  border: 1px solid #ececec;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.item-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.item-card h3 {
  color: #30475e;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.item-card img {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height to match the width */
  object-fit: cover; /* Ensures the image covers the area, cropping if necessary */
  border-radius: 50%; /* Circular images */
  margin-bottom: 1rem;
  border: 3px solid #f2f2f2;
}

.item-card p {
  color: #627d98;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.item-card button {
  background-color: #94EBCB;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.1s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item-card button:active {
  transform: scale(0.95); /* Shrinks the button a bit to simulate pressing */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Adjusts the shadow to look like it's being pressed down */
  background-color: #86d6c1; /* Optionally darken the button a bit */
}

.item-card button:hover {
  background-color: #82d3b8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.item-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

.interaction-group {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center align items */
  gap: 10px; /* Space between elements */
}

.feedback-group {
  display: flex;
  gap: 10px; /* Space between Like and Dislike buttons */
}


/* Modal backdrop */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay to focus on the modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures modal is on top of other content */
}

/* Modal content styling */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  position: relative;
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the start (left) */
}

/* Image in the modal */
.modal-image {
  width: 300px; /* Fixed width for consistency */
  height: 300px; /* Fixed height to match width, creating a square */
  object-fit: cover; /* Ensures the image covers the area, cropping if necessary */
  border-radius: 10px; /* Maintain rounded corners */
  margin-bottom: 20px; /* Keeps space between the image and text content */
  align-self: center; /* Centers the image */
}

/* Title in the modal */
.modal-content h3 {
  color: #30475e;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  width: 100%; /* Ensures the title can be centered in the container */
  align-self: center; /* Centers the title */
}

/* Close button in the modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #627d98;
}

/* Paragraph text in the modal */
.modal-content p {
  color: #627d98;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: normal; /* Ensure normal font weight */
  text-align: left;
  width: 100%; /* Full width to align text properly */
}

/* Labels within the modal */
.modal-content .modal-info-label {
  font-weight: bold; /* Bolden the labels */
  margin-right: 5px; /* Spacing between label and content */
}

/* Specific content in the modal */
.modal-content .modal-info-content {
  display: block; /* Separate line for content */
  text-align: left;
}

/* Account Logout */
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full height of the viewport */
  padding: 20px;
  background-color: #F3EADE; /* Background color consistent with the app's theme */
}

.logout-container h2 {
  color: #305F72; /* Adjust the color to match the design */
  margin-bottom: 20px; /* Spacing below the heading */
}

.logout-button {
  background-color: #94EBCB; /* Light mint green background */
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logout-button:hover {
  background-color: #82d3b8; /* Slightly darker on hover */
}

.logout-button:active {
  background-color: #70c3a6; /* Even darker for clicked state */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate being pressed down */
  transform: translateY(1px); /* Slightly move down the button to simulate a press */
}

/* Account Extra Stuff */
.account-container {
  /* ... your existing styles ... */
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the children horizontally */
  justify-content: center; /* This will center the children vertically */
  min-height: 100vh; /* This makes sure your container fills at least the whole height of the viewport */
  padding: 20px;
}

.account-container h2 {
  text-align: center; /* Centers text horizontally */
  font-family: 'Helvetica Neue', sans-serif; /* Elegant, modern font */
  color: #333; /* Soft, dark-gray color for readability */
  font-size: 2.5rem; /* A larger font size for prominence */
  font-weight: 300; /* Lighter font-weight for a sophisticated touch */
  margin-top: 50px; /* More top margin for a spacious look */
  margin-bottom: 30px; /* Balanced bottom margin */
  letter-spacing: 1.5px; /* Space out the letters slightly */
  text-transform: uppercase; /* Capitalize all letters for a chic touch */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
  padding: 5px 0; /* Padding to ensure the text doesn't touch any borders */
}

/* If you have other content in .account-container that you don't want to be stretched out, 
you can specifically target the logout button container like so: */
.logout-container {
  width: 100%; /* Full width to center the button correctly */
  display: flex;
  justify-content: center; /* Center button horizontally */
  padding: 20px 0; /* Padding at the top and bottom */
}

.logout-button {
  padding: 10px 20px;
  margin-top: auto; /* Pushes the logout button to the bottom */
  background-color: #94EBCB; /* Use your app's color theme */
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #82d3b8; /* Slightly darker on hover */
}

/* Accordion Styles */
.accordion {
  background-color: #94EBCB; /* Mint green background */
  color: #FFFFFF; /* White text */
  font-weight: bold;
  cursor: pointer;
  padding: 15px 20px; /* Spacious padding for a larger click area */
  width: 100%; /* Full width */
  text-align: left; /* Align text to the left */
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 18px; /* Readable font size */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 10px; /* Spacing between buttons */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

/* Change background color on hover for visual feedback */
.accordion:hover, .accordion:focus {
  background-color: #82d3b8; /* Darker shade on hover/focus */
  outline: none; /* Remove outline on focus for a cleaner look */
}

/* Accordion active section style */
.accordion.active {
  background-color: #72c7b8; /* Even darker shade to indicate active state */
}

/* Post Item Form */
.post-item-form-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
}

.form-field,
.form-select,
.form-textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-textarea {
  height: 100px;
}

.upload-button,
.form-button {
  background-color: #94EBCB;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.upload-button:hover,
.form-button:hover {
  background-color: #82d3b8;
}

.error-message {
  color: #ff6b6b;
  margin-top: -10px;
  margin-bottom: 10px;
}

.success-message {
  color: #31c48d;
  margin-top: 10px;
}

.dropzone {
  border: 2px dashed #94EBCB;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.image-preview {
  width: 80%; /* Adjust if you want a smaller preview */
  height: auto;
  max-height: 200px; /* Limit the height to avoid large previews */
  object-fit: cover;
  border: 2px solid #ccc; /* Optional: if you want a border around the image */
  border-radius: 5px;
  margin-top: 10px;
}

.file-name {
  margin-top: 10px;
}

/* Update Form */
.edit-item-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.edit-item-form .form-group {
  margin-bottom: 15px;
}

.edit-item-form .form-group label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.edit-item-form .form-group input,
.edit-item-form .form-group select,
.edit-item-form .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.edit-item-form .form-group textarea {
  height: 120px; /* Adjust the height of the textarea */
}

.edit-item-form .dropzone {
  border: 2px dashed #94EBCB;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.edit-item-form .image-preview {
  width: 100px; /* Fixed width for the preview */
  height: 100px; /* Fixed height for the preview */
  border-radius: 5px;
  margin-top: 10px;
  display: block; /* Ensure it's a block element */
  object-fit: cover;
}

/* Change this*/
.edit-item-form button,
.edit-item-form .btn-primary,
.edit-item-form .btn-secondary {
  background-color: #94EBCB;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 1in;
}

.edit-item-form .btn-primary {
  background-color: #4CAF50;
  color: white;
}

.edit-item-form .btn-primary:hover,
.edit-item-form .btn-primary:focus {
  background-color: #45a049;
  outline: none;
}

.edit-item-form .btn-secondary {
  background-color: #f44336;
  color: white;
}

.edit-item-form .btn-secondary:hover,
.edit-item-form .btn-secondary:focus {
  background-color: #d32f2f;
  outline: none;
}

.edit-item-form .form-group input[type="text"].name-input,
.edit-item-form .form-group select,
.edit-item-form .form-group textarea {
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.edit-item-form .form-group input[type="text"].name-input:focus,
.edit-item-form .form-group select:focus,
.edit-item-form .form-group textarea:focus {
  border-color: #82d3b8;
  outline: none;
}

.edit-item-form .form-group label.name-label {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-item-form .dropzone button {
  background-color: #94EBCB;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: center;
}

.edit-item-form .dropzone button:hover {
  background-color: #82d3b8;
}

.edit-item-form .image-preview img {
  margin-top: 10px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  border: 2px dashed #94EBCB;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Additional styles for the upload button */
.upload-image-button {
  background-color: #94EBCB;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Space between button and preview image */
}

.upload-image-button:hover {
  background-color: #82d3b8;
}

/* Container for the image preview to ensure it's centered */
.image-preview-container {
  text-align: center; /* Centers inline or inline-block elements */
  width: 100%; /* Ensures the container takes full width */
}

.image-preview {
  max-width: 100px; /* Set a max-width to control the preview size */
  max-height: 100px; /* Set a max-height to control the preview size */
  border-radius: 5px;
  margin-top: 10px; /* Space above the preview image */
}

/* Center the image within the .image-preview-container */
.image-preview-container img {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100px; /* Limit to actual image size */
  max-height: 100px; /* Limit to actual image size */
  margin: 0 auto; /* Center the image */
}

/* Favorites */
.favorites-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates a 4-column layout */
  grid-gap: 20px; /* Adjust the space between cards */
  padding: 20px; /* Padding around the whole grid */
}

.center-content {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  min-height: 200px; /* Provides a minimum height for the container */
}

.no-favorites-message {
  text-align: center;
  width: 100%; /* To ensure the text centers within the container */
}